[submodule "apollo-client-sm"]
	path = apollo-client-sm
	url = https://github.com/apollographql/apollo-client.git
[submodule ".claude/skills/rust-skills"]
	path = .claude/skills/rust-skills
	url = https://github.com/leonardomso/rust-skills.git
